@font-face {
  font-family: 'archivo-black';
  src: url('/./public/archivo-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #83c464;
  font-family: 'archivo-black', 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
